body{
    margin:0;
    padding:0;
    font-family: Otomanopee One,Arial, Helvetica, sans-serif;
    background-color: rgba(176, 196, 240, 0.486);
}
.menu{
    margin:0;
    text-decoration: none;
    display:inline-block;
    padding: 6%;
    background-color: rgba(176, 196, 240, 0.699);
    text-align: right;
    position: fixed;
    left: 0;
    top:0%;
    width: 8em;
    margin-top: -2.5em;
}
.menu li{
    padding: 26.5px;
    list-style: none;
    text-align: center;
}
.title{ 
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.about{
    margin-top: 50%;
    margin-left: 25%;
    padding: 6%;

}
.table{
    
}
.text p, table{
    font-family: pontano sans, Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 30px;
}